body {
  background-color: #f5f5f5;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.boxshadowNav {
  box-shadow: 0 4px 24px #00000040;
}
.linerColor {
  background: rgb(245, 245, 245);
  background: linear-gradient(
    360deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(0, 86, 89, 0.75) 100%
  );
}
.textShadowSec {
  text-shadow: 2px 1px 3px white;
}
.containerr {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.textShadowImage {
  box-shadow: 5px 5px rgba(0, 86, 89, 0.75);
}
/* لتغيير لون شريط التمرير */
::-webkit-scrollbar {
  width: 10px; /* عرض شريط التمرير */
}

::-webkit-scrollbar-thumb {
  background-color: #3d7d80;
  /* لون القبضة (المقبض) */
}

::-webkit-scrollbar-track {
  background-color: #ccc; /* لون المسار (الخلفية) */
}
/* Small */
@media (min-width: 640px) {
  .textShadowImage {
    box-shadow: 0px 0px;
  }
}
/* Small */
@media (min-width: 768px) {
  .textShadowImage {
    box-shadow: 0px 0px;
  }
  .containerr {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 1024px) {
  .containerr {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1280px) {
  .containerr {
    width: 1170px;
  }
}
